<h1>Добро пожаловать, {{ user.username }}!</h1>
<p>Ваши баллы: {{ user.points }}</p>
<button onclick="checkAttendance()">Проверить посещаемость</button>

<script>
    function checkAttendance() {
    $.ajax({
        url: '{% url 'check_attendance' %}',
        type: 'POST',
        data: JSON.stringify({
            latitude: 42.85756076410975,
            longitude: 74.59857798966878
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            if (data.status === 'success') {
                alert("Посещаемость отмечена!");
            } else {
                alert("Ошибка: " + data.message);
            }
        },
        error: function () {
            alert("Произошла ошибка при отправке запроса.");
        }
    });
}
</script><h1>Добро пожаловать, {{ user.username }}!</h1>
<button onclick="checkAttendance()">Проверить посещаемость</button>
<p>Ваши баллы: {{ user.points }}</p>

<h2>Фильтр по дате для отчета о посещаемости</h2>
<form method="get" action="{% url 'download_attendance_report' %}">
    <label for="start_date">От:</label>
    <input type="date" name="start_date" id="start_date">
    <label for="end_date">До:</label>
    <input type="date" name="end_date" id="end_date">
    <button type="submit">Скачать отчет</button>
</form>

